* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    padding: 100px 100px 0 100px;
}

.logo {
    background-color: #0A0A23;
    padding: 7px 15px;
}

.sp {
    color: goldenrod;
}

header {
    width: 100%;
    background-color: #1b1b32;
    position: fixed;
    top: 0;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
}

nav ul li {
    color: #dfdfe2;
    margin: 0 0.2rem;
    padding: 15px;
    display: block;
}

li a {
    text-decoration: none;
    color: white;
}

p,
form {
    margin: 25px 0;
}

.lg {
    font-size: 25px;
}

label {
    display: block;
}

button {
    padding: 15px 180px;
    display: block;
    margin: 40px auto;
    border: 2px solid #0A0A23;
    border-radius: 4px;
}

footer {
    text-align: center;
    background-color: #1B1B32;
    color: white;
}

footer a {
    color: white;
}